body{
    font-family: Arial, sans-serif;
    margin: 1em;
    padding: 0;
}
header{
    width: 500px;
    margin: 0 auto;
}
p{
    color: blueviolet;
}
main{
    width: 500px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid blue;
}
h1{
    text-align: center;
    color: blue;
}
label{
    width: 10em;
    padding-left: 1em;
    float: left;
}
#data input{
    margin-bottom: 0.5em;
    float: left;
}
#data span{
    color: red;
    padding-left: 0.5em;
}
#submit input{
    float: left;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
br {
    clear:left;
}
footer{
    width: 500px;
    padding-top: 1em;
    margin: 0 auto;
}